@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --cor-de-fundo: #1e1e1e;
  --verde: #ff2e2e;
  --branco: #ffffff;
  --botao-ativo: #2c2764;
  --botao-inativo: rgba(58,55,94,.5);
  --texto-fundo: rgba(58,55,94,.3);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--cor-de-fundo);
  color:var(--branco);
  font-family:"Chakra Petch",sans-serif;
}

.conteudo-principal{
  width:100%;
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.titulo-principal{
  font-size:32px;
  margin-bottom:20px;
}

.titulo-principal span{
  color:var(--verde);
}

.botoes{
  display:flex;
}

.botao{
  flex:1;
  padding:25px;
  border:none;
  background:var(--botao-inativo);
  color:white;
  cursor:pointer;
  font-size:18px;
  font-family:inherit;
}

.botao:first-child{
  border-radius:40px 0 0 0;
}

.botao:last-child{
  border-radius:0 40px 0 0;
}

.botao.ativo{
  background:var(--botao-ativo);
  border-bottom:4px solid var(--verde);
}

.aba-conteudo{
  display:none;
  background:var(--texto-fundo);
  min-height:430px;
  padding:60px;
  border-radius:0 0 40px 40px;
}

.aba-conteudo.ativo{
  display:block;
}

.aba-conteudo-titulo-principal{
  text-align:center;
  font-size:48px;
  margin-top:20px;
}

.aba-conteudo-titulo-secundario{
  text-align:center;
  color:var(--verde);
  margin-top:40px;
  text-transform:uppercase;
  font-size:28px;
}

.contador{
  display:flex;
  justify-content:center;
  gap:50px;
  margin-top:60px;
  flex-wrap:wrap;
}

.contador-digito{
  text-align:center;
}

.contador-digito-numero{
  font-size:100px;
  font-weight:400;
}

.contador-digito-texto{
  color:var(--verde);
  font-size:30px;
}